@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 100% 95%;
    --foreground: 190 5% 0%;
    --card: 190 50% 90%;
    --card-foreground: 190 5% 10%;
    --popover: 190 100% 95%;
    --popover-foreground: 190 100% 0%;
    --primary: 190 75% 87.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 190 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 152 30% 85%;
    --muted-foreground: 190 5% 35%;
    --accent: 152 30% 80%;
    --accent-foreground: 190 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 190 5% 90%;
    --border: 190 30% 50%;
    --input: 190 30% 18%;
    --ring: 190 75% 87.5%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 190 50% 5%;
    --foreground: 190 5% 90%;
    --card: 190 50% 0%;
    --card-foreground: 190 5% 90%;
    --popover: 190 50% 5%;
    --popover-foreground: 190 5% 90%;
    --primary: 190 75% 87.5%;
    --primary-foreground: 0 0% 0%;
    --secondary: 190 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 152 30% 15%;
    --muted-foreground: 190 5% 60%;
    --accent: 152 30% 15%;
    --accent-foreground: 190 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 190 5% 90%;
    --border: 190 30% 18%;
    --input: 190 30% 18%;
    --ring: 190 75% 87.5%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    /* @apply border-border; */
  }

  body {
    /* @apply bg-background text-foreground; */
  }
}
